/* ----- сброс ----- 24navo.com*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* ----- /сброс ----- */

/* ----- базовые настройки ----- 24navo.com*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #828282;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #00a8ff;
	text-decoration: underline;
}
a:hover {
	color: #00a8ff;
	text-decoration:none;
}
a:focus, a:active {
	color: #00a8ff;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* ----- /базовые настройки ----- */
.main-top {max-width:1166px; margin:0 auto;}
.header-t { padding:25px 0 20px 0; border-bottom:2px solid #d3d3d2;} 
.asus { float:left;}
.my-slider ul li { position: relative;}
.main-middle3 article a img { border:1px solid #d3d3d2; margin:0 auto 18px auto; display:block;}
.main-middle3 article a:hover img { border:1px solid #333;}
.main-middle3 article a:hover { color:#828282; text-decoration:none; }
.main-middle3 article {width:32.07%; float:left; margin-right:1.895%}
.main-middle3 article:last-child { margin-right:0;}
.main-middle3 article h2 { font-size:1.40; margin-bottom:10px;}
.main-middle3 { margin:10px auto 45px auto;}
.main-middle4-section {margin-bottom:50px;}
.main-middle4-section>h2 { font-size:1.40em; color:#333; text-align:center; margin-bottom:28px;}
.middle4-article article { border:1px solid #d3d3d2; width:22.9%; margin-right:2.45%; float:left;}
.middle4-article article:last-child { margin-right:0;}
.middle4-article article img { margin:0 auto; display:block;}
.middle4-material { padding:18px;}
.middle4-material h2 { font-size:1.125em; color:#333; text-transform:uppercase; margin-bottom:4px;}
.map0 { margin-bottom:50px;float:left; width:55%;}
.map0 h1 { font-size:1.40em; color:#333; margin-bottom:25px;}
.map0  p { font-size:0.75em; color:#828282; margin-bottom:20px;}
.foot { background:#333; padding:38px 0;}
.foot a { color:#d3d3d2; display:block; text-decoration:none; font-size:0.875em;}
.foot a:hover { color:#00a8ff; text-decoration:underline;}
@media screen and (max-width:780px){
.middle4-article article { border:1px solid #d3d3d2; width:45%; margin:0 1.5% 25px 1.5%; float:left;}
.middle4-article article:last-child {  margin:0 1.5% 25px 1.5%;}
}
@media screen and (max-width:685px){
.my-slider ul li h1 {font-size:2em; left:100px; top:80px;}
.my-slider ul li p {font-size:1.3em; left:100px; top:120px;}
.map0 article { float: none; width:95%; margin:0 2.5% 25px 2.5%;}
}
@media screen and (max-width:600px){
.main-middle3 article {width:95%; float: none; margin:0 2.5% 25px 2.5%;}
.main-middle3 article:last-child { margin:0 2.5% 25px 2.5%;}
.main-middle3 article h2 { text-align:center;}
.main-middle3 article p { text-align:center;}
.main-middle3 article img { width:95%;}
}
@media screen and (max-width:405px){
.work { float: none; margin:0 auto 1% auto; display:table;}
}
@media screen and (max-width:390px){
.my-slider ul li h1 {font-size:1.6em; left:100px; top:30px;}
.my-slider ul li p {font-size:1.3em; left:100px; top:70px; color:#0080ff;}
.middle4-article article {width:95%; float: none; margin:0 2% 25px 2%;}
.middle4-article article:last-child {width:95%; float: none; margin:0 2% 25px 2%;}
}
@media screen and (max-width:315px){
.my-slider ul li h1 {font-size:1.2em; left:20%; top:20px;}
.my-slider ul li p {font-size:0.8em; left:20%; top:40px; font-weight:bold;}
}